.AFc_body138 {
}
.AFc_all138, a.AFc_all138:hover, a.AFc_all138:visited {
    outline:none;
    background:transparent;
    border:none;
    margin:0;
    padding:0;
    top:0;
    left:0;
    text-decoration:none;
    overflow:hidden;
    display:block;
    z-index:666999;
}