/* ~/CSS/Pages/Landing/RollerCoaster/Landing.css */
 html {
    overflow-x:hidden;
}
html, body, .container-fluid {
    height:100%;
    font-weight:300;
}
a, a:hover {
    color:black;
    text-decoration:none;
    outline:none;
}
label {
    font-weight:300;
}
.navbar-landing {
    background-color:#5e9eb2;
    background-color:rgba(0, 0, 0, 0.35);
    color:white;
    min-height:66px;
}
.navbar-landing .container {
    padding:6px;
}
.navbar-landing .navbar-nav a {
    color:white;
    font-size:18px;
    padding:14px 15px;
}
.navbar-landing .navbar-nav a:hover {
    background:none;
}
.navbar-landing .navbar-nav a:focus {
    background-color:transparent;
    outline:none;
}
.navbar-landing .navbar-toggle {
    background-color:white;
    color:black;
    margin-top:9px;
}
.navbar-landing .navbar-brand {
    padding:8px 10px;
}
.navbar-landing .input-sm {
    height:26px;
}
.navbar-landing .navbar-link {
    color:white;
}
#HeaderForgotPassword {
    text-align:center;
    display:block;
    position:absolute;
    margin:0;
    font-size:13px;
}
.collapse.in #HeaderForgotPassword {
    position:relative;
}
.robloxLogo {
    width:36px;
    height:36px;
}
#magic-line {
    position:absolute;
    left:56px;
    width:61px;
    height:2px;
    background:#fff;
    top:40px;
}
#LoginButton, #SignUpButton {
    background-color:#00B259;
    color:white;
    border:1px solid #ccc;
    font-weight:400;
}
#SignUpButton {
    font-size:20px;
}
#LoginButton {
    border:1px solid transparent;
    font-size:14px;
    width:100%;
}
.full-height-section {
    height:100%;
    min-height:720px;
}
.inner-full-height-section {
    height:100%;
}
#MainCenterContainer {
    position:relative;
    top:200px;
}
#MainLogo {
    top:100px;
    position:relative;
}
#LogoAndSlogan {
    float:right;
}
#MainLogo h1 {
    color:white;
    font-size:35px;
    background-color:#000;
    background-color:rgba(0, 0, 0, 0.7);
    padding:10px 25px;
    text-align:center;
    margin-top:-20px;
    display:inline-block;
}
#MainLogo h1 span {
    position:absolute;
    font-size:15px;
}
.special-dropdown select::-ms-expand {
    display:none;
}
.special-dropdown {
    display:inline-block;
}
.month-special-dropdown {
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
}
.day-special-dropdown {
    border-right:1px solid #ccc;
}
#birthdayDaySelect {
    width:55px;
}
#birthdayMonthSelect {
    width:95px;
}
#birthdayYearSelect {
    width:60px;
}
#SignUpFormContainer {
    background-color:white;
    background-color:rgba(255, 255, 255, 0.75);
    padding:15px;
    max-width:435px;
}
#SignUpForm select.input-sm {
    font-weight:normal;
    width:auto;
    display:inline-block;
}
#SignUpForm h3 {
    margin-top:5px;
}
.attribution {
    position:absolute;
    bottom:4%;
    left:20%;
    color:white;
    text-align:left;
    line-height:1;
    font-size:28px;
}
#MainLogoImage {
    width:457px;
    height:115px;
    opacity:.99;
    z-index:100;
    float:right;
}
.gender-circle {
    width:32px;
    height:32px;
    border-radius:15px;
    border:1px solid #ccc;
    display:inline-block;
    margin-top:0;
    margin-left:40px;
    cursor:pointer;
}
.selected-gender {
    background-color:#255094;
    border:1px solid #255094;
}
.gender {
    margin:3px 9px;
    height:26px;
}
.female {
    background-position:-37px -7px;
    width:13px;
}
.male {
    background-position:-51px -7px;
    width:12px;
}
.roblox-captcha-modal {
    width:320px;
    margin:0 auto;
}
.modal-body-text {
    text-align:center;
}
.fake-input-lg {
    height:46px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px;
}
.fake-input-lg label {
    padding:5px 8px;
}
#WhatsRobloxContainer .inner-full-height-section {
    padding:0;
    margin-top:5px;
    overflow:hidden;
}
#WhatIsRobloxTextBg {
    top:25%;
}
#RobloxDeviceText {
    padding-top:110px;
}
#InnerWhatsRobloxContainer2 {
    height:30%;
    margin-top:5px;
}
.game-image {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    height:100%;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
}
.app-store-logo {
    display:inline-block;
    width:136px;
    height:47px;
}
#ComputerImgSmall {
    margin-top:20px;
}
.ComputerImg {
    margin-bottom:-72px;
    vertical-align:bottom;
}
footer {
    padding-top:100px;
    background:#ececec;
    background-image:-webkit-linear-gradient(top, #ececec 0, #fff 100%);
    background-image:-o-linear-gradient(top, #ececec 0, #fff 100%);
    background-image:linear-gradient(to bottom, #ececec 0, #fff 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFECECEC', endColorstr='#FFFFFFFF', GradientType=0);
}
#FooterBigLinks a {
    font-size:40px;
    font-weight:300;
    margin:0 13px;
}
#FooterLanguage {
    margin:15px 0;
}
#FooterLanguage a {
    font-size:25px;
    margin:0 10px;
}
.social-button {
    display:inline-block;
    vertical-align:top;
}
.fb-button {
    width:50px;
}
.youtube-subscribe {
    margin-left:40px;
}
.navbar-form {
    margin-top:7px;
}
@media(min-width:768px) {
    .navbar>.container .navbar-brand {
        margin-left:-15px;
    }
}
@media(max-width:991px) {
    #SignUpFormContainer {
        display:block;
        margin:0 auto;
    }
    .navbar>.container .navbar-brand {
        margin-left:-15px;
    }
    #MainLogo {
        text-align:center;
        top:0;
    }
    #LogoAndSlogan {
        float:none;
    }
    #MainLogo h1 {
        font-size:2.1em;
        margin-top:-18px;
    }
    #MainLogoImage {
        float:none;
    }
    .attribution {
        font-size:14px;
        left:1%;
    }
    #MainCenterContainer {
        top:100px;
    }
    .navbar-landing .navbar-collapse.in {
        background-color:black;
        background-color:rgba(0, 0, 0, 0.6);
    }
}
@media(max-width:767px) {
    .navbar-landing .navbar-nav a {
        font-size:inherit;
    }
    .fake-input-lg>label {
        display:block;
    }
    .fake-input-lg {
        height:auto;
    }
    .month-special-dropdown {
        border-left:none;
    }
    .full-height-section {
        min-height:780px;
    }
    #TopLeftNavLinks {
        margin-left:5px;
    }
    #WhatIsRobloxTextBg {
        background-color:#000;
        background:rgba(0, 0, 0, 0.7);
    }
    #InnerWhatsRobloxContainer1 {
        background-size:cover;
        background-position:20% center;
    }
    #FooterLegalText {
        float:none;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}
/* ~/CSS/Base/CSS/Modals.css */
 .BCModalImage {
    margin-left:12px;
    margin-bottom:12px;
    float:left;
}
#BCMessageDiv.BCMessage {
    margin-top:35px;
    margin-left:12px;
    font-weight:bold;
    font-size:15px;
    float:left;
    width:250px;
}
.GenericModal .Title, .ConfirmationModal .Title {
    font-weight:bold;
    font-size:27px;
    color:#343434;
    margin:5px;
    letter-spacing:-1px;
}
.GenericModal {
    padding:5px;
}
.GenericModalBody {
    background-color:#fff;
    padding:10px;
}
.GenericModal .Message {
    display:inline-block;
    width:275px;
    vertical-align:middle;
    font-weight:bold;
    font-size:15px;
    letter-spacing:0;
    font-size-adjust:none;
    font-stretch:normal;
    margin-bottom:5px;
    float:none;
}
.GenericModal.noImage .Message {
    width:100%;
    text-align:center;
}
.GenericModal div.ImageContainer {
    display:inline-block;
    height:110px;
    width:110px;
    overflow:hidden;
    vertical-align:middle;
    margin-left:-15px;
}
.GenericModal.noImage div.ImageContainer {
    display:none;
}
.GenericModal img.GenericModalImage {
    display:inline-block;
    max-height:110px;
    max-width:110px;
}
.GenericModal .GenericModalButtonContainer {
    text-align:center;
    margin:5px auto;
}
.largeModal .GenericModalBody {
    position:relative;
}
.largeModal div.ImageContainer {
    position:absolute;
    left:35px;
    top:50%;
    margin-top:-55px;
}
div.GenericModalErrorMessage {
    font-size:12px;
    font-weight:normal;
    text-align:left;
}
a.genericmodal-close {
    margin-left:400px;
}
.ConfirmationModalButtonContainer {
    clear:both;
    text-align:center;
    padding-bottom:20px;
    padding-top:1px;
    height:50px;
}
.ConfirmationModalButtonContainer a {
    margin-right:6px;
    cursor:pointer;
}
.ConfirmationModalFooter {
    letter-spacing:normal;
    color:#666;
    font:normal 12px Arial, Helvetica, Sans-Serif;
    text-align:center;
    padding:0 10px 7px;
}
.ConfirmationModal.noImage .Message {
    max-width:395px;
    width:395px;
    text-align:center;
    position:relative;
    left:0;
    top:4px;
}
.ConfirmationModal .Message {
    margin-top:0;
    float:none;
    width:270px;
    position:relative;
    top:30%;
    left:127px;
    vertical-align:middle;
    font-weight:bold;
    font-size:15px;
    letter-spacing:0;
    font-size-adjust:none;
    font-stretch:normal;
    text-align:left;
}
.ConfirmationModal div.ImageContainer {
    position:absolute;
    height:110px;
    width:110px;
}
.ConfirmationModal.noImage div.ImageContainer {
    display:none;
}
.ConfirmationModal img.GenericModalImage {
    display:inline-block;
    max-height:110px;
    max-width:110px;
}
div.ConfirmationModal div.GenericModalBody {
    padding:0;
}
div.ConfirmationModal.noImage div.TopBody {
    overflow:hidden;
    padding:15px 15px 20px 15px;
    height:auto;
}
div.ConfirmationModal div.TopBody {
    padding:15px 15px 22px 15px;
    min-height:110px;
}
div.ConfirmationModal {
    padding:5px;
}
.LanguageInstructions {
    width:415px;
    height:157px;
    margin:10px auto;
    background:url("/images/LanguageChangeInstructions.jpg");
}
.unifiedModal {
    background-color:#e1e1e1;
    font-weight:bold;
    font-size:27px;
    color:#343434;
    border:2px solid #272727;
    text-align:center;
    position:relative;
}
.unifiedModalContent {
    text-align:left;
    background-color:White;
    font-weight:bold;
    font-size:15px;
    margin:0 5px 5px 5px;
    letter-spacing:normal;
}
.unifiedModalSubtext {
    color:#666;
    font-weight:bold;
    font-size:12px;
    border:none;
    letter-spacing:normal;
    cursor:pointer;
    text-align:center;
    margin-top:10px;
    padding-bottom:5px;
}
.smallModal {
    width:425px;
}
.closeBtnCircle_20h:hover {
    background-position:0 20px;
}
.closeBtnCircle_20h {
    width:20px;
    height:20px;
    cursor:pointer;
    position:absolute;
    top:5px;
    left:5px;
    background:url(/images/Buttons/btn-x.png);
}
.unifiedModal .smallModal .closeBtnCircle_20h {
    margin-left:395px;
}
/* ~/CSS/Legacy/Modal.css */
 div#simplemodal-container {
    box-sizing:content-box;
}
.GenericModalButtonContainer .btn-large, .GenericModalButtonContainer .btn-medium, .GenericModalButtonContainer .btn-small {
    margin:0;
    display:inline-block;
    zoom:1;
    text-align:center;
    font-weight:normal;
    text-decoration:none;
    border-width:1px;
    border-style:solid;
    cursor:pointer;
    box-sizing:content-box;
}
.GenericModalButtonContainer .btn-large {
    padding:9px 13px 0 13px;
    height:39px;
    min-width:70px;
    font-size:23px;
    line-height:27px;
    background-position:left 0;
}
.GenericModalButtonContainer .btn-large:hover, .GenericModalButtonContainer .btn-medium:hover, .GenericModalButtonContainer .btn-small:hover {
    text-decoration:none;
}
.GenericModalButtonContainer .btn-large:hover {
    background-position:left -48px;
}
.GenericModalButtonContainer .btn-neutral, .GenericModalButtonContainer .btn-neutral:link, .GenericModalButtonContainer .btn-neutral:active, .GenericModalButtonContainer .btn-neutral:visited {
    border-color:#0852b7;
    background-color:#0852b7;
    background-image:url(/images/Buttons/StyleGuide/bg-btn-blue.png);
    color:white;
}
.GenericModalButtonContainer .btn-negative, .GenericModalButtonContainer .btn-negative:link, .GenericModalButtonContainer .btn-negative:active, .GenericModalButtonContainer .btn-negative:visited {
    border-color:#565656;
    background-color:#565656;
    background-image:url(/images/Buttons/StyleGuide/bg-btn-gray.png);
    color:white;
}
.GenericModalButtonContainer .btn-text {
    display:none;
    margin:0;
    position:relative;
    color:#fff;
}
.GenericModalButtonContainer .btn-text:hover {
    text-decoration:none;
}
.GenericModalButtonContainer .btn-large .btn-text {
    bottom:26px;
}
.simplemodal-container, .simplemodal-container .ConfirmationModal, .simplemodal-container .GenericModalButtonContainer {
    box-sizing:content-box;
}
.simplemodal-container .btn-primary, .simplemodal-container .btn-primary:link, .simplemodal-container .btn-primary:active, .simplemodal-container .btn-primary:visited {
    border-color:#007001;
    background-color:#007001;
    background-image:url(/images/Buttons/StyleGuide/bg-btn-green.png)!important;
    color:white;
}
.simplemodal-container .btn-negative, .simplemodal-container .btn-negative:link, .simplemodal-container .btn-negative:active, .simplemodal-container .btn-negative:visited {
    border-color:#565656;
    background-color:#565656;
    background-image:url(/images/Buttons/StyleGuide/bg-btn-gray.png);
    color:white;
}
.simplemodal-container .btn-none {
    display:none;
}
.simplemodal-container .btn-medium {
    padding:1px 13px 3px 13px;
    height:28px;
    min-width:62px;
    font-size:20px;
    background-position:left -96px;
    border-width:1px;
    border-style:solid;
    cursor:pointer;
}
.simplemodal-container .btn-medium:hover {
    background-position:left -128px;
}
.GenericModalButtonContainer .btn-primary, .GenericModalButtonContainer .btn-primary:link, .GenericModalButtonContainer .btn-primary:active, .GenericModalButtonContainer .btn-primary:visited {
    border-color:#007001;
    background-color:#007001;
    background-image:url(/images/Buttons/StyleGuide/bg-btn-green.png)!important;
    color:white;
}
.GenericModalButtonContainer .btn-negative, .GenericModalButtonContainer .btn-negative:link, .GenericModalButtonContainer .btn-negative:active, .GenericModalButtonContainer .btn-negative:visited {
    border-color:#565656;
    background-color:#565656;
    background-image:url(/images/Buttons/StyleGuide/bg-btn-gray.png);
    color:white;
}
.GenericModalButtonContainer .btn-none {
    display:none;
}
.PurchaseModal .simplemodal-close a {
    background:url('/images/Buttons/btn-x.png') no-repeat top left;
    display:block;
    height:20px;
    width:20px;
    position:absolute;
    right:5px;
}
.PurchaseModal .simplemodal-close a:hover {
    background-position:bottom left;
    cursor:pointer;
}
.CustomizeCharacterLink {
    display:block;
    margin-top:10px;
}
.PurchaseModalMessage.SuccessMsg {
    padding:30px 20px 20px 20px;
    height:auto;
}
.PurchaseModal span.Robux, .PurchaseModal span.Tickets, .PurchaseModal span.Free {
    margin-bottom:2px;
}
.PurchaseModalClose {
    cursor:pointer;
    position:absolute;
    right:-18px;
    top:-18px;
}
.PurchaseModal {
    width:435px;
    display:none;
    position:absolute;
    border:2px solid #272727;
    background-color:#E1E1E1;
    padding:5px;
}
.PurchaseModal .titleBar {
    background-color:#E1E1E1;
    font-weight:bold;
    font-size:27px;
    letter-spacing:-1px;
    color:#343434;
    height:38px;
    text-align:center;
}
.PurchaseModalBody {
    background-color:#fff;
}
.PurchaseModalMessage {
    padding:10px;
    height:110px;
}
.PurchaseModalMessageImage {
    display:inline-block;
    width:110px;
    height:110px;
}
.PurchaseModalMessageText {
    display:inline-block;
    width:275px;
    vertical-align:top;
    padding-top:28px;
}
.PurchaseModalButtonContainer {
    clear:left;
    padding-top:10px;
    text-align:center;
}
.PurchaseModalFooter {
    text-align:center;
    margin:10px auto 0;
    padding-bottom:5px;
}
.ProcessingModalBody {
    margin:15px auto;
    text-align:center;
    vertical-align:middle;
    background:none;
}
.CurrencyColor1 {
    color:#080;
    padding-left:20px;
    background:url(/images/cssspecific/rbx2/head_infobox_icons.png) no-repeat 0 -42px;
}
.CurrencyColor2 {
    color:#A61;
    padding-left:20px;
    background:url(/images/cssspecific/rbx2/head_infobox_icons.png) no-repeat 0 -122px;
}
.CurrencyColorFree {
    color:#080;
}
.ConfirmationModal .GenericModalBody .validationTooltip {
    color:#a00;
    font-size:11px;
    display:inline;
}
#DeleteProductPromotionModal .thumbs-up-green {
    width:110px;
    height:110px;
    background:url('/images/Icons/thumbs_up.png') no-repeat;
    display:block;
}
#DeleteProductPromotionModal .btn-blue-ok-sharp {
    height:50px;
    width:102px;
    display:inline-block;
    background:url('/images/Buttons/btn_blue_ok_l.png') top left no-repeat;
}
#DeleteProductPromotionModal .btn-blue-ok-sharp:hover {
    cursor:pointer;
    background-position:bottom left;
}
.ConfirmationModal .GenericModalBody .validationTooltip {
    color:#a00;
    font-size:11px;
    display:inline;
}
.ABCloseCircle {
    cursor:pointer;
    position:absolute;
    top:-10px;
    right:-10px;
}
.closeBtnCircle_35h:hover {
    background-position:0 35px;
}
.closeBtnCircle_35h {
    width:35px;
    height:35px;
    background:url(/images/Buttons/closeBtnCircle_35h.png);
}
.closeBtnCircle_20h:hover {
    background-position:0 20px;
}
.closeBtnCircle_20h {
    width:20px;
    height:20px;
    cursor:pointer;
    margin-left:395px;
    position:absolute;
    top:5px;
    left:5px;
    background:url(/images/Buttons/btn-x.png);
}